<div>
  <h1>🎉 Congratulations 🎉</h1>
  <h3>You've completed all of the basic challenges. <br />Next steps:</h3>
  <h3>1. Commit your code to your forked repo.</h3>
  <h3>2. Submit a pull request to the challenge repo.</h3>

  <h1>Additional Challenges</h1>
  <h5>(If you're feeling up to it)</h5>
  <p><%= link_to('Effects Challange', effects_path) %></p>
  <p><%= link_to('Types Challange', types_challenge_path) %></p>
</div>
